  
// header
$header-bg-color:#545454;
$header-color:white;



//---------------------------------------------------------------------------------------------------------------------------------


// motto section
$motto-section-bg-color:#B9BCC0;




//-------------------------------------------------------------------------------------------------------------------------------


//buds+ section
$buds-bg-color-gradient: #2D2D2D;


$buds-btn-linear-gradient:20deg, #892F35, #BD6169;
$buds-btn-border-radius:50px;
$buds-btn-shadow:.5px .5px 1rem rgba(0, 0, 0, 0.44);
$buds-btn-transition:300ms;



//-----------------------------------------------------------------------------------------------------------------------------------

//popular
$popular-bg-color:#2D2D2D;
$popular-color:#B6B8BD;
$card-bg-gradiant:#B6B8BD 40%, rgb(182,184,189,44%);
$card-transition:300ms;
$card-color:black;
$card-border-radius:50px;



//-----------------------------------------------------------------------------------------------------------------------------------

// register section
$register-bg-color:rgba(70, 70, 70, 0.94);
$register-color:white;
$register-btn-color:black;
$register-btn-bottom:15%;
$register-btn-right: 12%;







// -------------------------------------------------------------------------------------------------------------
// product page
// -------------------------------------------------------------------------------------------------------------


// category
$category-bg-color:rgb(107, 107, 107);
$category-color:white;