  
// header
$header-bg-color:#545454;
$header-color:white;



//---------------------------------------------------------------------------------------------------------------------------------


// motto section
$motto-section-bg-color:#B9BCC0;




//-------------------------------------------------------------------------------------------------------------------------------


//buds+ section
$buds-bg-color-gradient: #2D2D2D;


$buds-btn-linear-gradient:20deg, #892F35, #BD6169;
$buds-btn-border-radius:50px;
$buds-btn-shadow:.5px .5px 1rem rgba(0, 0, 0, 0.44);
$buds-btn-transition:300ms;



//-----------------------------------------------------------------------------------------------------------------------------------

//popular
$popular-bg-color:#2D2D2D;
$popular-color:#B6B8BD;
$popular-height:100vh;
$card-bg-gradiant:#B6B8BD 40%, rgb(182,184,189,44%);
$card-transition:300ms;
$card-color:black;
$card-border-radius:50px;


//mobile
$popular-heading-width:85px;
$popular-heading-height:18vh;
$popular-heading-padding-top:40px;
$popular-heading-margin:0 auto;
$popular-cards-padding:0 5%;
$popular-cards-height:80vh;
$popular-card-width:90%;
$popular-card-height:70vh;
$popular-card-margin:0 5%;
$popular-card-heading-font-size:30px;
$popular-card-image-width:300px;

//desktop
$popular-cards-padding-desktop: 0 2%;
$popular-card-margin-desktop:0 2%;
$popular-image-width-desktop:450px;



//-----------------------------------------------------------------------------------------------------------------------------------

// register section
$register-bg-color:rgba(70, 70, 70, 0.94);
$register-color:white;
$register-image-width:55%;
$register-btn-color:black;
$register-btn-bottom:15%;
$register-btn-right: 12%;

//tablet and mobile
$register-height-tablet:66vh;
$register-height-mobile:50vh;
$register-heading-left-mt: 48%;
$register-heading-padding-right-mt: 20px;
$register-heading-top-tablet:20%;
$register-heading-font-size-tablet:2.5rem;
$register-heading-top-mobile:14%;
$register-heading-font-size-mobile:1.5rem;
$register-btn-padding-mt:12px 22px;
$register-btn-margin-right-mt:5%;
$register-btn-font-size-tablet: 16px;
$register-btn-font-size-mobile: 10px;

//desktop
$register-height-desktop:100vh;
$register-heading-font-size-tablet:2.5rem;
$register-heading-font-size-desktop:4.5rem;
$register-btn-padding-desktop:15px 25px;
$register-btn-font-size-desktop: 20px;
$register-heading-font-size-922:4rem;













// -------------------------------------------------------------------------------------------------------------
// product page
// -------------------------------------------------------------------------------------------------------------


// category
$category-bg-color:rgb(107, 107, 107);
$category-color:white;
$category-earbuds-headphone-width:10%;
$category-earbuds-headphone-font-size:14px;
$category-earbuds-headphone-font-weight:300;
$category-earbuds-headphone-padding: 8px 50px;
$category-earbuds-headphone-margin: 0 25px;
$category-earbuds-headphone-opacity: .7;
$category-title-margin:0;
