.desktop {
    @media screen and (min-width:768px) {
        @include dFlex(row-reverse, space-evenly, center);
        padding: 5%;
        height: 85vh;
    }


    @media (min-width:768px) and (max-width:1000px) {
        height: 70vh;
    }

}


.title {
    width: 80%;
    padding-left: 5%;
    margin-bottom: 10%;

    &__heading {
        align-self: flex-start;
        font-size: 39px;
        margin: 0;
        margin-top: 10%;


        @media (min-width:768px) and (max-width:1000px) {
            margin-top: 25%;
        }
    }

    &__paragraph {
        margin: 0;
        font-size: 14px;
    }


    @media screen and (min-width:768px) {
        align-self: flex-start;
        margin-top: 5%;
        position: relative;
    }
}

.gallery {
    @include dFlex(column);
    width: 100%;

    @media screen and (min-width:768px) {
        width: 65%;
        overflow: visible;
    }


    &__images {
        @include dFlex();
        overflow: scroll;

        &__image {
            width: 100%;
        }

    }

    &__color {
        @include dFlex(row, center, center);

        &__choose {
            border-radius: 50%;
            border: none;
            margin: 20px 5px;
            width: 30px;
            height: 30px;

            @media screen and (min-width:768px) {
                margin: 0 5px;
                width: 40px;
                height: 40px;
            }

            &:hover {
                border: 2px solid rgb(226, 226, 226);
                outline: 1px solid black;
            }

        }


    }

    &__add {
        @include dFlex(row, center, center);
        margin: 20px 0;

        @media screen and (min-width:768px) {
            @include dFlex(column, center, center);
            position: absolute;
            top: 50vh;
            right: 25vw;
        }

        &__price {
            font-weight: 700;
            margin-right: 20px;

            @media screen and (min-width:768px) {
                font-weight: 700;
            }
        }


        &__btn {
            background-color: black;
            color: white;
            transition: 200ms;
            padding: 10px 25px;
            border-radius: 30px;

            @media screen and (min-width:768px) {
                padding: 20px 40px;
                border-radius: 40px;
                width: 11.14rem;
            }

            &:hover {
                background-color: rgb(185, 66, 66);
                color: black;
                transition: 200ms;
            }


        }
    }
}




.details {

    padding: 50px;

    @media screen and (min-width:768px) {
        @include dFlex(row, space-evenly, flex-start);
        flex-wrap: wrap;
    }

    &__card {
        line-height: 2;
        margin: 50px 0;

        @media screen and (min-width:768px) {
            margin: 5% 0;
            width: 35%;
        }

        &__title {
            line-height: 1;

            &::after {
                content: "";
                display: inline-block;
                width: 100%;
                height: .5px;
                background-color: black;
            }
        }

    }

}


.slider {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;

    @media screen and (min-width:768px) {
        height: 80vh;

    }
}


.insidebox {
    background: linear-gradient(transparent, gray);
    line-height: 2;
    padding: 50px;


    &__image {
        width: 90%;

        @media screen and (min-width:768px) {
            width: 50%;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 25px;

        @media screen and (min-width:768px) {
            margin-left: 10%;
            font-size: 35px;
        }
    }

    & ul {
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 50px;

        @media screen and (min-width:768px) {
            padding-right: 10%;
        }

    }
}



.imgText {
    @media screen and (min-width:768px) {
        @include dFlex(row, center, center);
    }

}





#blacksolobtn,
#budsblackbtn,
#fitproblackbtn,
#flexblackbtn {
    background: rgb(0, 0, 0);
}



#fitprowhitebtn,
#flexwhitebtn {
    background: white;
}