
.motto {
    @include dFlex(column, flex-start, center);
    background-color: $motto-section-bg-color;
    position: relative;
    height: 500px;

    @media screen and (min-width:768px){
        height: 100vh;

        .motto__scroll{
            width: 1px;
            height: 80px;
            position: absolute;
            bottom: 70px;

            &__inside{
                width: 100%;
                background-color: black;
                animation: scroll 2s infinite;
            }
        }
    }


    &__image {
        width: 45%;

        @media screen and (min-width:768px){
            width: 25%;
        }
    }

    &__soundmatters {
        position: absolute;
        z-index: 200;
        font-weight: 900;
        background: linear-gradient(20deg,black 5%, #8e8b8b);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        margin-top: 50%;
        margin-left: -30%;

        @media screen and (min-width:768px){
                font-size: 8rem;
                margin-top: 25%;
                margin-left: -20%;
    
        }

    }
}



//keyframes----------------------------------------------------------------------------------------------------------------------

@keyframes scroll {
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
    
}