.popular {
    background-color: $popular-bg-color;
    color: $popular-color;
    height: 840px;
    overflow-x: scroll;

    @media screen and (min-width:768px) {
        height: 100vh;
    }



    &__heading {
        height: 80px;
        padding-top: 40px;
        width: 85px;
        margin: 0 auto;

    }




    &__seemore {
        font-size: 14px;
        transition: 200ms;
        @include dFlex();

        &:hover {
            color: rgb(175, 86, 86);
            transition: 200ms;
        }
    }





    &__cards {
        @include dFlex();
        height: 700px;
        overflow-x: scroll;
        padding: 0 5%;

        @media screen and (min-width:768px) {
            overflow-x: scroll;
            height: 90%;
            padding: $popular-cards-padding-desktop;
        }



        &__card {
            background: linear-gradient($card-bg-gradiant);
            color: $card-color;
            border-radius: $card-border-radius;
            @include dFlex(column, space-between, center);
            transition: $card-transition;
            width: 90%;
            height: 500px;
            margin: 0 5%;

            @media screen and (min-width:768px) {
                height: 80%;
                margin: 0 2%;
            }



            &:hover {
                transform: scale(1.03);
                transition: $card-transition;
            }




            &__heading {
                text-align: center;
                font-size: 30px;

                @media screen and (min-width:768px) {
                    text-align: center;
                }
            }




            &__image {
                width: 300px;

                @media screen and (min-width:768px) {
                    width: 450px ;
                }
            }


        }
    }




}