.registerSection {
    background: linear-gradient($popular-bg-color 50%, $register-bg-color);
    color: $register-color;
    @include dFlex(row, center, center);
    height:50vh;

    @media screen and (max-width:850px) {
        height:66vh;
    }

    @media screen and (min-width:850px){
        height: 100vh;
    }

    &__register {
        position: relative;


        &__image {
            width: 55%;
            position: relative;
            z-index: 1;
        }

        &__btn {
            @include buttonStyle();
            color: $register-btn-color;
            position: absolute;
            bottom: $register-btn-bottom;
            right: $register-btn-right;
            font-size: 10px;
            padding: 12px 22px;

            @media (min-width:580px) and (max-width:850px) {
                margin-right: 5%;
                font-size: 16px;
            }

            @media screen and (min-width:850px){
                padding: 15px 25px;
                font-size: 20px;
            }



        }

        &__heading {
            position: absolute;
            top: 14%;
            font-size: 1.5rem;
            left: 48%;
            padding-right: 20px;

            @media (min-width:580px) and (max-width:850px) {
                top: 20%;
                font-size: 2.5rem;
            }

            @media screen and (min-width:850px){
                font-size: 4.5rem;
            }

            @media (min-width:850px) and (max-width:922px) {
                font-size: 4rem;
            }
        }

    }

}



