

.category {
    @include dFlex(row, center, center);
    background-color: $category-bg-color;
    color: $category-color;
   
    &__earbuds,
    &__headphone {
        @include dFlex(column, space-between, center);
        width: $category-earbuds-headphone-width;
        text-align: center;
        font-size: $category-earbuds-headphone-font-size;
        font-weight: $category-earbuds-headphone-font-weight;
        padding: $category-earbuds-headphone-padding;
        margin: $category-earbuds-headphone-margin;
        opacity: $category-earbuds-headphone-opacity;

        &:hover{
            border-bottom: .5px solid;
        }

        &__title{
            margin: $category-title-margin;
        }
        
    }
}